.about-me {
  align-self: center;
  height: fit-content;
  padding-top: 25px;
  color: #3D5A80;
}

.head-shot {
  border-radius: 50%;
  height: auto;
  max-height: 40%;
  max-width: 40%;
  margin: 1em 0em;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0.05em;
  align-self: center;
}

.bio-text {
  margin: 2.5em 1.5em;
  font-size: 1.5em;
  padding-right: 2.5em;
}

.bio-link {
  color: #3D5A80; 
  font-weight: bolder;
  text-decoration: none;
  transition: .5s ease;
}

.bio-link:hover {
  color: #EE6C4D;
}

.hidden-link {
  color: #3D5A80;
  text-decoration: none;
  transition: .5s ease;
}

.hidden-link:hover {
  color: #EE6C4D;
}

@media screen and (max-width: 768px) {
  .about-me {
    flex-direction: column;
  }
  .head-shot {
    height: auto;
    max-width: 70%;
    align-self: center;
  }
} 

@media screen and (max-width: 540px) {
  .head-shot {
    max-width: 80%;
  }
  .bio-text {
    font-size: 1.25em;
    margin: 1.5rem 1rem;
    padding-right: 1.5em;
  }
}