.footer-area {
  background-color: #3D5A80;
  justify-content: center;
}

/* CSS for making small uniform-size icons */
.icon-image {
  border-radius: 50%;
  max-height: 50px;
  max-width: 60px;
  margin: 5px;
  filter: brightness(0) invert(1);
}

.icon-set {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .icon-image {
    max-height: 40px;
    max-width: 60px;
  }
}