.nav {
  align-self: center;
  padding: 1em;
}

.nav-link {
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
}

.nav-link:hover {
  color: #EE6C4D;
  background-color: transparent;
}

.nav-link:active, .nav-link:focus {
  color: #3D5A80;
  background-color: whitesmoke;
}


